<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Course Form</title>
</head>
<body>
<h1>This is course form</h1>
<form action="" method="post">
  <table>
    <tr>
      <td><label for="courseId">Course Id:</label></td>
      <td>
        <input id="courseId" name="courseId" type="text">
      </td>
      <td><label for="courseName">Course Name:</label></td>
      <td>
        <input id="courseName" name="courseName" type="text">
      </td>
      <td><label for="duration">Course Duration:</label></td>
      <td>
        <input id="duration" name="duration" type="number"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit"></button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>
